name: roosterme
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter_local_notifications: ^17.0.0
  android_alarm_manager_plus: ^3.0.4
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/data/active_alarms.json
